*{
  box-sizing: border-box;
}
body{
  background-color: rgb(239, 152, 181);
  color: black;
}
main{
  max-width: 450px;
  margin: 20px auto;
}
h1{
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
h1 span{
  font-size: 1rem;
  vertical-align: top;
  display: inline;
  margin-top: 6px;
}
form input{
  width: 100%;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 4px 10px;
  border-radius: 10px;
}
form input[type="datetime-local"]
{
  color: rgb(110, 104, 104);
}
form div.basic{
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
form button{
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 4px 10px;
  margin-top: 5px;
}
div.details{
  margin-top: 10px;
}
div.first{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: 2px solid rgb(0, 0, 0);
}
div.first:first-child{
  border-top: none;
}
div.first div.name,div.price{
  font-size: 18px;
  color: black;
}
div.first div.description,div.datetime{
  font-size: 12px;
  color: black;
}
div.right{
  text-align: right;
}
div.first div.pricegreen{
  color: green;
}
div.first div.pricered{
  color: red;
}